livekit-agents==1.6.5
livekit-plugins-groq==1.6.4
livekit-plugins-openai==1.6.5
livekit-plugins-elevenlabs==1.6.4
livekit-plugins-cartesia==1.6.4
python-dotenv==1.2.2
PyYAML==6.0.3
pydantic==2.13.4
fastembed==0.8.0
faiss-cpu==1.14.3
edge-tts==7.2.8
av==18.0.0